// File: src/styles/index.scss
body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #fafafa;
  color: #222;
}

.todo {
  background-color: #222;
  color: cyan;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;

}